src/main/resources/XSD/xsdrespone.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProjectRespone">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:long" name="id"/>
        <xs:element type="xs:string" name="title"/>
        <xs:element type="xs:string" name="detail"/>
        <xs:element type="xs:string" name="date"/>
        <xs:element type="xs:string" name="customer"/>
        <xs:element type="xs:string" name="service"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>